@charset "UTF-8";

@font-face {
    font-family: 'lemon';
    src: url('fonts/LEMONMILK-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {    
    font: normal bolder 1.5em 'lemon', arial, sans-serif;
}

p {
    font: normal bold 0.8em 'lemon', arial, sans-serif;
    text-align: justify, right;
    text-indent: 1em;
}

h2 {
    text-align: center;
}